{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des élèves
{% endblock %}

{% block body %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Classe</th>
                    <th>Intitulé</th>
                    <th>Envoyer message</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        {% if user.room %}
                            <td>{{ user.room.level }}</td>
                            <td>{{ user.room.title }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}

                        <td>
                            <a href="{{ path('message_new') }}?id={{ user.id }}" class="btn btn-primary">Envoyer un message</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
